server:
  applicationConnectors:
    - type: http
      port: 80
  adminConnectors:
    - type: http
      port: 81
  requestLog:
    appenders:
      - type: console


logging:
  level: INFO
  appenders:
    - type: console

serviceInfo:
  name: config

rootDataDirectory: ${FED_CONFIG_PATH:-data/stub-fed-config}

clientTrustStoreConfiguration:
  path: data/pki/hub.ts
  password: marshmallow

rpTrustStoreConfiguration:
  path: ${RP_TRUST_STORE_PATH:-data/pki/relying_parties.ts}
  password: marshmallow
