# Ubuntu systemd file

[Unit]
Description=SAML Proxy Service

[Service]
User=deployer
Environment=CLASSPATH=/ida/saml-proxy/lib
ExecStart=/ida/saml-proxy/saml-proxy.sh start
ExecStop=/ida/saml-proxy/saml-proxy.sh stop
KillSignal=TERM
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
